nyaysahayak/.env
nyaysahayak - backend/nyaysahayak/src/main/resources/application.properties
nyaysahayak - backend/nyaysahayak/src/main/resources/application.properties
nyaysahayak - backend/nyaysahayak/src/main/resources/application.properties
